# Auto detect text files and perform LF normalization
* text=auto

# Normalize and convert the listed file types to native line endings
*.md text
*.json text
*.js text

# Files that will have CRLF line endings
*.bat text eol=crlf

# Files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
